<p>
  Bitte überprüfen Sie nun ihr Postfach.
</p>
<p>
  Sollten Sie keine E-Mail erhalten haben, versuchen Sie es <b>nochmals</b> und überprüfen Sie ihren
  Benutzernamen auf <b>Tippfehler</b>.
</p>
<!-- FIXME BEGIN remove -->
<p>
  <%= link_to 'Passwort zurücksetzen', edit_secure_user_request_url(external_id) %>
</p>
<!-- END remove -->
