.form .field {
  margin: 0.9em 0em;
}

.form .field label, .form .field .label {
  display: block;
  width: 100%;
}

.form .field input, .form .field textarea, .form .field .check_box {
  display: block;
  width: 100%;
  font-family: 'Overlock', sans-serif;
  font-size: 100%;
}

.form .field .check_box { text-align: left; }

.form .field .check_box input, .form .field .check_box label {
  display: inline;
  width: auto;
}

.form ul.field {
  padding: 0em;
  list-style: none;
}

.form input[type=button], .form input[type=submit], .form input[type=reset] {
  font-family: 'Overlock', sans-serif;
  font-size: 100%;
}

.form div.fieldWithErrors { display: block; text-align: left; }

.form .preview {
  border: 1px solid <%=p :dark_blue %>;
  background: <%=p :light_blue %>;
  <%= border_radius '0.5em' %>
  padding: 0.54em 1.2em;
  color: <%=p :dark_blue %>;
}

.form .preview .field span.empty {
  color: <%=p :dark_blue %>;
  margin: 0em;
}


/**
 * Mobile (small) Version
 */

@media (max-width:470px) {
  .form .field .preview {
  }
}
