@import url(https://fonts.googleapis.com/css?family=Overlock:400,700&subset=latin,latin-ext);

body {
  font-family: 'Overlock', sans-serif;
  font-size: 20px;
}

a {
  color: <%=p :dark_blue %>;
  font-weight: bold;
  text-decoration: none;
}
a:hover, a:focus {
  color: <%=p :mid_blue %>;
  text-decoration: underline;
}

div {
  padding: 0em;
  margin: 0em;
  border: none;
}

hr {
  background: <%=p :mid_gray %>;
  border: none;
  height: 1px;
  width: auto;
  margin: 1.08em 1em;
  padding: 0em;
}

img {
  border: none;
  padding: 0em;
  margin: 0em;
}

p, table {
  padding: 0em;
  margin: 0.54em 0em;
}

label, .label {
  font-variant: small-caps;
}

.annotation_mark {
  font-weight: bold;
  color: <%=p :mid_red %>;
  cursor: help;
}

textarea { font-family: 'Overlock', sans-serif; font-size: small; }

.no_padding { padding: 0em !important; }
.no_margin { margin: 0em !important; }
.no_break { white-space: nowrap; }
.center { text-align: center; }
.error { color: <%=p :mid_red %>; }

.infobox {
  display: block;
  background: <%=p :white %>;
  padding: 0.54em 1.2em;
  border: 1px solid #ccc;
  <%=border_radius '0.5em' %>
  margin: 0.18em 0em;
}

h1.empty {
  font-size: 200%;
  color: <%=p :mid_gray %>;
  text-align: center;
  font-weight: bold;
  margin: 0.72em 0em;
}

span.mail_to { font-weight: bold; }

form.button-to { display: inline; }
form.button-to div { display: inline; }

h1, h2 { padding: 0em; color: <%=p :dark_green %>; }
h1 { font-size: 150%; margin: 1.07em 0em 1.07em 0em }
h2 { font-size: 110%; margin: 1.07em 0em 0.36em 0em }

h1.empty {
  color: <%=p :darker_gray %>;
  text-align: center;
  font-weight: bold;
}

#body .administration { text-align: right; }

th {
  font-variant: small-caps;
  font-size: 110%;
  font-weight: normal;
}

div.clear {
  clear: both !important;
  display: block !important;
  height: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}

#message {
  display: block;
  position: absolute;
  background: <%=p :lighter_gray %>;
  color: <%=p :dark_gray %>;
  padding: 0.54em 0.5em;
  margin: 0.36em 1em;
  border: 1px solid <%=p :darker_gray %>;
  <%=border_radius '0.5em' %>
  max-width: 20em;
  font-size: 90%;
  <%=box_shadow '0em', '0.18em', '0.36em', 'rgba(0, 0, 0, 0.5)' %>
}

#message h1 {
  font-size: 100%;
  font-weight: bold;
  text-decoration: none;
  padding: 0em;
  margin: 0em;
  margin-bottom: 0.54em;
}

#message h2 {
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
}

#message p {
  padding: 0em;
  margin: 0.54em 0em;
}

#message h1.close {
  font-size: 75%;
  text-align: right;
  margin: 0em;
  margin-top: 0.54em;
}

#message h1.close a { color: <%=p :dark_green %>; }

#message.success {
  background: <%=p :light_green %>;
  border-color: <%=p :dark_green %>;
}
#message.success h1, #message.success h2, #message.success h1.close a { color: <%=p :dark_green %>; }

#message.error {
  background: <%=p :light_red %>;
  border-color: <%=p :mid_red %>;
}
#message.error h1, #message.error h2, #message.error h1.close a { color: <%=p :mid_red %> }

#important_links { text-align: right; }
#important_links .logged_in_user {
  padding-right: 1.5em;
}
#important_links .logged_in_user .name { font-weight: bold; }
#important_links .logged_in_user a { font-weight: normal; }

#logo_container {
  padding: 0.72em 150px;
  text-align: center;
}
#logo_container.popup {
  padding: 0em;
  text-align: center;
  border-bottom: 1px solid <%=p :mid_gray %>;
  margin: 0em 1em;
}

#header_images_with_logo{padding: 0em 0.5em;}
#left_header_image, #right_header_image {
  min-height: 150px;
  background-repeat: no-repeat;
}
#left_header_image {
  background-image: url(<%= AppData['left_header_image_path'] %>);
  background-position: center left;
}
#right_header_image {
  background-image: url(<%= AppData['right_header_image_path'] %>);
  background-position: center right;
}

#left_header_image .toolbutton, #right_header_image .toolbutton { display: block; }
#left_header_image .toolbutton { float: left; }
#right_header_image .toolbutton { float: right; }

#logo_container img { max-width: 90%; margin: 10px; }

#logo_container .medium_logo { display: none; }
#logo_container .original_logo { display: inline; }

#top_navigation {
  background: <%=p :lighter_gray %>;
  border: 1px solid <%=p :darker_gray %>;
  <%=border_radius '0.7em' %>
  padding: 0em;
  margin: 0em;
}

ul.navigation {
  list-style: none;
  padding: 0em;
  margin: 0em;
}

#top_navigation li {
  float: left;
}

#top_navigation a {
  display: block;
  padding: 0.5em 1.0em;
  font-variant: small-caps;
  color: <%=p :dark_gray %>;
}
#top_navigation .first a {
  padding-left: 1.2em;
  <%=border_radius :left => '0.7em' %>
}
#top_navigation a:hover, #top_navigation a:focus {
  background: <%=p :mid_red %>;
  color: <%=p :white %>;
  font-style: normal;
}

#top_navigation .control { display: none; }

#body {
  background: <%=p :light_gray %>;
  padding: 0.54em 1.2em;
  border: 1px solid <%=p :mid_gray %>;
  <%=border_radius '0.7em' %>
  margin: 0.54em 0em;
}

a.toolbutton {
  padding: 1px;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  display: inline-block;
}

a.toolbutton:hover,
a.toolbutton.red:hover { background-color: <%=p :mid_red %>; }
a.toolbutton.blue:hover { background-color: <%=p :dark_blue %>; }
a.toolbutton.green:hover { background-color: <%=p :dark_green %>; }
a.toolbutton.blank:hover { background-color: transparent; }

a.toolbutton.xsmall { <%=border_radius '4px' %> height: 16px; width: 16px; }
a.toolbutton.small { <%=border_radius '5.5px' %> height: 24px; width: 24px; }
a.toolbutton.medium { <%=border_radius '7px' %> height: 32px; width: 32px; }

#picture_viewer, #picture_viewer div.background {
  top: 0px;
  left: 0px;
  width: 100%;
}
#picture_viewer {
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  z-index: 2;
}
#picture_viewer div.background {
  position: absolute;
  position: fixed;
  display: none;
  height: 100%;
  background: <%=p :dark_gray %>;
  opacity: 0.5;
  z-index: -1;
}

#picture_viewer .frame {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background: <%=p :white %>;
  <%=border_radius '30px' %>
  padding: 30px 30px;
  margin: 20px;
  opacity: 1.0;
  width: 600px;
}

#picture_viewer .frame .toolbar {
  text-align: right;
  display: none;
  padding: 13px 20px;
  margin-top: -30px;
}

#body .error.message {
  text-align: left;
  color: <%=p :mid_red %>;
}
#body .fieldWithErrors {
  display: inline;
  padding: 0em;
  margin: 0em;
  border: 0em;
}
#body .fieldWithErrors * {
  background: <%=p :light_red %>;
}

#footer {
  overflow: hidden;
  text-align: center;
  font-size: 80%;
  color: #666;
  margin-top: 0.72em;
}

#footer a { font-weight: normal; }

/**
 * Mobile (small) Version
 */

@media (max-width:650px) {
  #left_header_image { background-position: top left; }
  #right_header_image { background-position: top right; }
  #logo_container { padding: 150px 0em 0.72em; }
  #logo_container .medium_logo { display: inline; }
  #logo_container .original_logo { display: none; }
}

@media (max-width:470px) {
  body {
    font-family: 'Overlock', sans-serif;
    font-size: 18px;
  }
  
  #logo_container { padding: 0em 0.54em; }
  #left_header_image, #right_header_image { background: none; min-height: 0px; }

  #important_links { text-align: left; }

  #important_links .logged_in_user {
    display: block;
    padding: 0em;
    margin-bottom: 0.54em;
  }
  
  #top_navigation li {
    float: none;
    padding: 0em;
  }

  #top_navigation .first a {
    <%=border_radius :bottom => '0em', :top => '0.7em' %>
    padding-left: 1.0em;
  }
  #top_navigation .last a {
    <%=border_radius :bottom => '0.7em' %>
  }
  
  #top_navigation.close .first a {
    <%=border_radius '0em' %>
  }

  #top_navigation .control {
    display: block;
    margin: 0em;
    margin-bottom: 0.72em;
    font-size: 100%;
  }
  
  #top_navigation .control a {
    <%=border_radius :top => '0.7em' %>
    background-color: <%=p :darker_gray %>;
    color: <%=p :white %>;
  }
  
  #top_navigation .control a:hover, #top_navigation .control a:focus {
    background: <%=p :dark_blue %>;
  }
  
  #top_navigation .control .pictogram {
    display: block;
    background: url('<%=image_path 'pictogram/small/menu-open.png' %>') no-repeat center left;
    padding-left: 29px;
    margin-left: -8px;
  }
  #top_navigation.close .control .pictogram {
    background-image: url('<%=image_path 'pictogram/small/menu-close.png' %>');
  }
}
