body {
  font-family: 'Sans', sans-serif;
}

a {
  color: <%=p :dark_gray %>;
  font-weight: bold;
  text-decoration: none;
}
a:hover, a:focus { color: <%=p :darker_gray %>; }

div {
  padding: 0ex;
  margin: 0ex;
  border: none;
}

hr {
  background: <%=p :mid_gray %>;
  border: none;
  height: 1px;
  width: auto;
  margin: 1ex 1em;
  padding: 0em;
}

img {
  border: none;
  padding: 0em;
  margin: 0em;
}

label {
  font-variant: small-caps;
}

textarea { font-family: 'Sans', sans-serif; font-size: small; }

.no_padding { padding: 0em !important; }
.no_margin { margin: 0em !important; }

form.button-to { display: inline; }
form.button-to div { display: inline; }

h1, h2 { padding: 0ex; color: <%=p :dark_green %>; }
h1 { font-size: 150%; margin: 3ex 0em 3ex 0em }
h2 { font-size: 110%; margin: 3ex 0em 1ex 0em }

th {
  font-variant: small-caps;
  font-size: 110%;
  font-weight: normal;
}

div.clear {
  clear: both !important;
  display: block !important;
}

#message {
  display: block;
  position: absolute;
  background: <%=p :lighter_gray %>;
  color: <%=p :dark_gray %>;
  padding: 1.5ex 0.5em;
  margin: 1ex 1em;
  border: 1px solid <%=p :darker_gray %>;
  <%=border_radius '0.5em' %>
  max-width: 20em;
  font-size: 90%;
  <%=box_shadow '0em', '0.5ex', '1ex', 'rgba(0, 0, 0, 0.5)' %>
}

#message h1 {
  font-size: 100%;
  font-weight: bold;
  text-decoration: none;
  padding: 0em;
  margin: 0em;
  margin-bottom: 1.5ex;
}

#message p {
  padding: 0em;
  margin: 0em;
}

#message.success {
  background: <%=p :light_green %>;
  border-color: <%=p :dark_green %>;
}
#message.success h1 { color: <%=p :dark_green %>; }

#message.error {
  background: <%=p :light_red %>;
  border-color: <%=p :mid_red %>;
}
#message.error h1 { color: <%=p :mid_red %> }

#important_links { text-align: right; }
#important_links a:hover, #important_links a:focus {
  text-decoration: underline;
}
#important_links .logged_in_user {
  padding: 0ex 1.5em;
}
#important_links .logged_in_user .name { font-weight: bold; }
#important_links .logged_in_user a { font-weight: normal; }

#logo_container {
  padding-top: 1ex;
  padding-bottom: 2ex;
  text-align: center;
}
#logo_container.popup {
  padding: 0em;
  text-align: center;
  border-bottom: 1px solid <%=p :mid_gray %>;
  margin: 0ex 1em;
}
#logo_container img { max-width: 90%; margin: 10px; }

#logo_container .medium_logo { display: none; }

#top_navigation {
  background: <%=p :lighter_gray %>;
  border: 1px solid <%=p :darker_gray %>;
  <%=border_radius '0.7em' %>
  padding: 0em;
  margin: 0em;
}

ul.navigation {
  list-style: none;
  padding: 0em;
  margin: 0em;
}

#top_navigation li {
  float: left;
}

#top_navigation a {
  display: block;
  padding: 1.4ex 1.0em;
  font-variant: small-caps;
}
#top_navigation a.first {
  padding-left: 1.2em;
  <%=border_radius :left => '0.7em' %>
}
#top_navigation a:hover, #top_navigation a:focus { background: <%=p :mid_red %>; color: <%=p :white %>; }

#body {
  background: <%=p :light_gray %>;
  padding: 0ex;
  border: 1px solid <%=p :mid_gray %>;
  <%=border_radius '0.7em' %>
  margin: 1.5ex 0em;
}

a.toolbutton img {
  padding: 1px;
  <%=border_radius '22.22%' %>
}
a.toolbutton:hover img {
  background: <%=p :mid_red %>;
}

#picture_viewer, #picture_viewer div.background {
  top: 0px;
  left: 0px;
  width: 100%;
}
#picture_viewer {
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  z-index: 2;
}
#picture_viewer div.background {
  position: absolute;
  position: fixed;
  display: none;
  height: 100%;
  background: <%=p :dark_gray %>;
  opacity: 0.5;
  z-index: -1;
}

#picture_viewer .frame {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background: <%=p :white %>;
  <%=border_radius '30px' %>
  padding: 30px 30px;
  margin: 20px;
  opacity: 1.0;
  width: 600px;
}

#picture_viewer .frame .toolbar {
  text-align: right;
  display: none;
  padding: 13px 20px;
  margin-top: -30px;
}

#body .error.message {
  text-align: left;
  color: <%=p :mid_red %>;
}
#body .fieldWithErrors {
  display: inline;
  padding: 0ex;
  margin: 0ex;
  border: 0ex;
}
#body .fieldWithErrors * {
  background: <%=p :light_red %>;
}

#footer {
  overflow: hidden;
  text-align: center;
  font-size: 80%;
  color: #666;
  margin-top: 2ex;
}

#footer a { font-weight: normal; }
#footer a:hover, #footer a:focus { text-decoration: underline; }

/**
 * Mobile (small) Version
 */

@media (max-width:470px) {
  #logo_container .medium_logo { display: inline; }
  #logo_container .original_logo { display: none; }

  #top_navigation li {
    float: none;
    padding: 0em;
  }

  #top_navigation a.first {
    <%=border_radius '0em' %>
    <%=border_radius :top => '0.7em' %>
  }
  #top_navigation a.last {
    <%=border_radius :bottom => '0.7em' %>
  }
}
