#body {
  overflow: hidden;
  background: none;
  padding: 0ex;
  border: none;
  <%=border_radius '0px' %>
  margin: 7ex 0.5em;
  text-align: center;
}

#message_window {
  display: inline-block;
  overflow: hidden;
  background: <%=p :lighter_gray %>;
  padding: 1.5ex 0.5em;
  border: 1px solid <%=p :darker_gray %>;
  <%=border_radius '0.7em' %>
  min-width: 10em;
  max-width: 23em;
}

#message_window a:hover, #message_window a:focus { text-decoration: underline; }

#message_window h1 {
  padding-top: 0em;
  margin-top: 0em;
  margin-bottom: 1ex;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  font-variant: small-caps;
}

#message_window.success {
  background: <%=p :light_green %>;
  border-color: <%=p :dark_green %>;
}
#message_window.success h1 { color: <%=p :dark_green %>; }

#message_window.error {
  background: <%=p :light_red %>;
  border-color: <%=p :mid_red %>;
}
#message_window.error h1 { color: <%=p :mid_red %>; }

#message_window .message {
  padding: 0em;
  margin: 0em;
}

#message_window .response {
  padding: 0em;
  margin: 0em;
  margin-top: 2ex;
}

#message_window .message.error {
  color: <%=p :mid_red %>;
  font-size: 80%;
}

#message_window p.em {
  font-variant: small-caps;
  font-size: 125%;
  font-weight: bold;
}
