#body .index { text-align: center; padding: 0.54em 0.8em; }
#body .index .container { display: inline-block; }

#message_window h1.empty {
  font-size: 100%;
  margin: 0.72em 0em;
  font-variant: normal;
}

.profile input, .profile textarea {
  font-size: 100%;
}

.administration {
  text-align: right;
}

.profile {
  margin-top: 1.08em;
}

ul.profile {
  list-style: none;
  margin-left: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  padding: 0em;
}

.edit .profile input, .edit .profile textarea { width: 18em; max-width: 100%; }
.edit .profile .scope { width: 6em; }
.edit .profile.user .name { width: 12em; }
.edit .profile.postal_address .postcode { width: 3em; }
.edit .profile.postal_address .city { width: 14.57em; }
.edit .profile.email_address .email_address { width: 11.57em; }
.edit .profile.phone_number .country { width: 1.5em; }
.edit .profile.phone_number .prefix { width: 2.5em; }
.edit .profile.phone_number .number { width: 5.95em; }
.edit .profile textarea { height: 12em; }

.login .value {
  font-weight: bold;
}

.primary_email_address .value {
  font-weight: bold;
}

.email_address .label, .phone_number .label {
  color: <%=p :dark_gray %>;
}

#body div.notes {
  text-align: left;
}

.user_index { float: left; margin: 0em 1em; }
.user_index.first { margin-left: 0em; }
.user_index.last { margin-right: 0em; }

.user_index h2 .toolbutton { display: block; float: right; }
.user_index ul { margin-top: 0.54em; list-style: none; }

/**
 * Mobile (small) Version
 */

@media (max-width:470px) {
  #body .index .container { text-align: center; }
  .user_index {
    display: inline-block;
    float: none;
    margin: 0em;
  }
}
