#body {
  padding: 0.54em 1.2em;
}

#body a {
  font-weight: normal;
  text-decoration: underline;
}

#body a:hover, #body a:focus {
  font-style: italic;
  text-decoration: none;
}

#body p, #body table {
  padding: 0em;
  margin: 0.54em 0em;
}

#body .center { text-align: center; }

#body .infobox {
  display: block;
  background: <%=p :white %>;
  padding: 0.54em 1.2em;
  border: 1px solid #ccc;
  <%=border_radius '0.5em' %>
  margin: 0.18em 0em;
}
