#body {
  padding: 1.5ex 1.2em;
}

#body p, #body table {
  padding: 0ex;
  margin: 1.5ex 0em;
}
#body p { font-family: "Serif", serif; }
#body li {
  font-family: "Serif", serif;
}

#body .center { text-align: center; }

#body .infobox {
  display: block;
  background: <%=p :white %>;
  padding: 1.5ex 1.2em;
  border: 1px solid #ccc;
  <%=border_radius '0.5em' %>
  margin: 0.5ex 0em;
}
