.index
  %div= render :partial => 'index', :locals => {:type => Employee, :human_type => 'Mitarbeiter',
    :profiles => @employees, :positional_class => 'first'}
  %div= render :partial => 'index', :locals => {:type => Customer, :human_type => 'Kunden', 
    :profiles => @customers, :positional_class => 'last'}

