<div id="message_window">
  <%= render :partial => 'index', :locals => {
    :type => :customer,
    :human_type => 'Kunden',
    :users => @customers,
    :positional_class => 'first'
  } %>
  <%= render :partial => 'index', :locals => {
    :type => :employee,
    :human_type => 'Mitarbeiter',
    :users => @employees,
    :positional_class => 'last'
  } %>
</div>
