:markdown
  Sie haben ihre Registrierung noch nicht bestätigt. Sie sollten eine E-Mail diesbezüglich von uns
  erhalten haben.

  Falls Sie diese E-Mail nicht mehr besitzen, #{static_link_to :kontakt, :label => 'kontaktieren'}
  Sie uns gerne.
