<p>
  Sie haben ihre Registrierung noch nicht bestätigt. Sie sollten eine E-Mail diesbezüglich von uns
  erhalten haben.
</p>
<p>
  Falls Sie diese E-Mail nicht mehr besitzen, <%= link_to 'kontaktieren', static_path(:kontakt) %>
  Sie uns gerne.
</p>
