<style type="text/css">
  #colors {
    font-family: "monofur";
    overflow: hidden;
  }
  
  #colors div {
    display: block;
    float: left;
    margin: 1ex;
    text-align: center;
  }
  
  #colors .color {
    height: 5em;
    width: 5em;
    display: inline-block;
    border: 2px solid black;
  }
</style>
<div id="colors">
    <% for c in [:dark_red, :mid_red, :light_red, :dark_green, :light_green, :dark_blue, :mid_blue,
        :light_blue, :dark_gray, :darker_gray, :mid_gray, :lighter_gray, :light_gray] %>
      <div>
          <b><%= c.to_s %></b><br />
          <%=p c %><br />
          <div class="color" style="background: <%=p c %>;"></div>
      </div>
    <% end %>
</div>

