<div id="message_window">
  <h1>Impressum</h1>
  <div class="message">
    <p>
      Angaben gemäß § 5 TMG
    </p>
    <p>
      <b>Petra Leiers-Kording</b><br />
      geschäftlich handelnd unter der Bezeichnung
    </p>
    <p>
      <b>LEIKOR Direktimporte</b><br />
      Ferd.-Tönnies-Str. 45<br />
      23701 Eutin
    </p>
    <table>
      <tr>
        <th>
          Telefon:
        </th>
        <td>
          04521 - 830 430
        </td>
      </tr>
      <tr>
        <th>
          Fax:
        </th>
        <td>
          03212 - 830 4300
        </td>
      </tr>
      <tr>
        <th>
          E-Mail:
        </th>
        <td>
          <%= mail_to 'Info@Leikor.de' %>
        </td>
      </tr>
      <tr>
        <th>
          Internet:
        </th>
        <td>
          <%= link_to 'http://www.leikor.de/', 'http://www.leikor.de/' %>
        </td>
      </tr>
    </table>
    <p>
      Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
      DE 187 522 711
    </p>
    <p>
      Inhaltlich Verantwortlicher gemäß § 6 MDStV:<br />
      Petra Leiers-Kording
    </p>
    <p>
      <b>Haftungshinweis:</b><br />
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für
      die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
      ausschließlich deren Betreiber verantwortlich.
    </p>
  </div>
</div>

