table.contact { text-align: left; }

table.contact td, table.contact th {
  vertical-align: top;
  padding: 0.2ex 0em;
}

table.contact th { text-align: right; }

table.contact td { padding-left: 1em; }
