<% if superuser_logged_in? %>
  <div id="category_administration" class="administration">
    <%= link_to(
      'Kategorie löschen',
      ask_destroy_category_path(@category.url_hash),
      :method => :get
    ) %> |
    <%= link_to_remote(
      "Neue Unterkategorie",
      :url => new_category_path(:category_id => @category.id),
      :method => :get
    ) %>
  </div>
<% end %>
<% unless @category.subcategories.empty? %>
  <%= render :partial => 'category', :collection => @category.subcategories %>
<% else %>
  <div class="empty_category">Keine Unterkategorien in dieser Kategorie.</div>
<% end %>
