<% if article.picture? %>
  <li id="<%= 'article_' + article.id.to_s %>" class="article">
    <%= image_tag(
      article.picture.url(:thumb),
      :alt => article.name,
      :title => 'Zum Verschieben ziehen',
      :class => 'handle'
    )%>
  </li>
<% else %>
  <li id="<%= 'article_' + article.id.to_s %>" class="article no_picture">
    <%= article.name %>
  </li>
<% end %>

