- fields_for "article[prices][]", price do |p|
  .price
    .minimum_count
      ab #{p.text_field :minimum_count, :size => 4} Stück
    .amount
      = p.text_field(:amount,
        :value => number_to_currency_value(price.amount, :locale => :de),
        :size => 4)
      &euro;
