<div id="message_window">
  <h1>Artikel löschen?</h1>
  <div class="message">
    Möchten Sie wirklich den Artikel
    <p class="em">
      <%= @article.name %>
    </p>
    <em>endgültig</em> löschen?
  </div>
  <div class="response">
    <%= new_a_button_to 'Nein, lieber nicht.', subcategory_path(@article.subcategory.url_hash(:anchor => @article.html_id)) %>
    <%= button_to 'Ja, wirklich!', @article, :method => :delete  %>
  </div>
</div>

