<% if logged_in? Employee %>
  <div id="category_administration" class="administration">
    <% unless @subcategory.articles.empty? %>
      <%= toolbutton_to(
        :reorder,
        edit_articles_order_path(@subcategory.url_hash),
        :title => 'Artikel umsortieren'
      ) %>
    <% end %>
    <%= toolbutton_to(
      :destroy,
      ask_destroy_subcategory_path(@subcategory.url_hash),
      :title => 'Unterkategorie löschen'
    ) %>
    <%= toolbutton_to_remote(
      :new,
      :url => new_article_path(:subcategory => @subcategory),
      :method => :get,
      :html => {
        :title => 'Neuen Artikel einstellen'
      }
    ) %>
  </div>
<% end %>
<% unless @subcategory.articles.empty? %>
  <%= render :partial => 'article', :collection => @subcategory.articles %>
<% else %>
  <h1 class="empty">Keine Artikel in dieser Kategorie.</h1>
<% end %>

