<% if superuser_logged_in? %>
  <div id="category_administration" class="administration">
    <% unless @subcategory.articles.empty? %>
      <%= link_to(
        'Artikel umsortieren',
        edit_articles_order_path(@subcategory.url_hash),
      ) %> |
    <% end %>
    <%= link_to(
      'Unterkategorie löschen',
      ask_destroy_subcategory_path(@subcategory.url_hash),
      :method => :get
    ) %> |
    <%= link_to_remote(
      'Neuen Artikel einstellen',
      :url => new_article_path(:subcategory => @subcategory),
      :method => :get
    ) %>
  </div>
<% end %>
<% unless @subcategory.articles.empty? %>
  <%= render :partial => 'article', :collection => @subcategory.articles %>
<% else %>
  <div class="empty_category">Keine Artikel in dieser Kategorie.</div>
<% end %>

