<% if logged_in? Employee %>
  <div id="category_administration" class="administration">
    <% unless @subcategory.articles.empty? %>
      <%= link_to(
        image_tag('pictogram/medium/reorder.png'),
        edit_articles_order_path(@subcategory.url_hash),
        :class => 'toolbutton',
        :title => 'Artikel umsortieren'
      ) %>
    <% end %>
    <%= link_to(
      image_tag('pictogram/medium/destroy.png'),
      ask_destroy_subcategory_path(@subcategory.url_hash),
      :class => 'toolbutton',
      :title => 'Unterkategorie löschen'
    ) %>
    <%= link_to_remote(
      image_tag('pictogram/medium/new.png'),
      :url => new_article_path(:subcategory => @subcategory),
      :method => :get,
      :html => {
        :class => 'toolbutton',
        :title => 'Neuen Artikel einstellen'
      }
    ) %>
  </div>
<% end %>
<% unless @subcategory.articles.empty? %>
  <%= render :partial => 'article', :collection => @subcategory.articles %>
<% else %>
  <div class="empty_category">Keine Artikel in dieser Kategorie.</div>
<% end %>

