:maruku
  Hallo #{@user.name},
  
  es gibt Neuigkeiten von LEIKOR! Den folgenden [Beitrag](#{blog_post_url(@blog_post)}) können Sie auch jederzeit auf unserer Website nachlesen.
  
  ---

= @blog_post.body
