:plain
  Hallo #{@user.name},
  
  es gibt Neuigkeiten von LEIKOR! Den folgenden Beitrag können Sie auch jederzeit [auf unserer Website nachlesen](#{blog_post_url(@blog_post)}).

  ---
  
  #{@blog_post[:body]}
