:maruku
  Hallo #{@user.name},

  wir haben die Anfrage erhalten, Ihr Passwort zurückzusetzen. Um ein neues Passwort zu wählen, besuchen Sie bitte folgende Adresse:

  > <#{edit_secure_user_request_url @request.external_id}>

  Falls Sie Ihr Passwort nicht mehr zurücksetzen möchten oder falls Sie keine Anfrage an uns gerichtet haben, können Sie:
  
  - diese E-Mail ignorieren. Die Anfrage ist nur noch #{distance_of_time_in_words @request.lifetime} gültig.
  - die oben genannte Adresse besuchen und *Anfrage abbrechen* auswählen. Die Anfrage ist dann sofort ungültig.

  Kommt es wiederholt dazu, dass Sie solche E-Mails erhalten, obwohl Sie keine Anfragen an uns gestellt haben, bitte wir Sie uns darüber zu [informieren](http://www.leikor.de/kontakt).


  Herzliche Grüße,

  LEIKOR
