#content .empty_category {
  display: block;
  font-size: 200%;
  color: <%=p :mid_gray %>;
  text-align: center;
  font-weight: bold;
  padding: 2ex 0em;
}

#categories {
  float: left;
  background: none;
  border-right: 1px solid <%=p :mid_gray %>;
  margin-right: 1em;
  width: 14em;
  padding: 0em;
  margin: 0em;
}

#categories li {
  padding: 0em;
  margin: 0em;
}
#categories li .entry.first { <%=border_radius :topleft => '0.7em' %> }
#categories li .entry:hover {
  background: <%=p :dark_green %>;
  color: <%=p :white %>;
}
#categories li .entry:hover a.button { color: <%=p :white %>; }

#categories li a.button {
  display: block;
  padding: 1.4ex 1.0em;
}

#categories li .handle {
  display: block;
  float: right;
  margin-top: 1.0ex;
  padding: 0.4ex 0.5em 0.4ex 0.2em;
  cursor: move;
  text-align: left;
  font-weight: bold;
  color: <%=p :darker_gray %>;
}
#categories li .entry:hover .handle {
  color: <%=p :white %>;
}

#categories .subcategory {
  border-width: 1px 0px;
  border-style: solid;
  border-color: <%=p :mid_gray %>;
  background: <%=p :light_blue %>;
  padding: 0em;
  margin: 0em;
  font-size: 85%;
}

#categories .subcategory li .entry.first { <%=border_radius '0.0em' %> }
#categories .subcategory li .entry:hover {
  background: <%=p :mid_blue %>;
}

#categories .subcategory a.button {
  padding: 0.8ex 1.0em;
  padding-left: 2.0em;
  font-weight: normal;
  border: 1px solid rgba(0,0,0,0);
}


#categories .subcategory a.button.selected {
  border-top: 1px solid <%=p :mid_gray %>;
  border-bottom: 1px solid <%=p :mid_gray %>;
  background: <%=p :light_gray %>;
}
#categories .subcategory a.button.selected.first { border-top: none; }
#categories .subcategory a.button.selected.last { border-bottom: none; }

#categories .subcategory li .handle { margin-top: 0.4ex; }

#content { margin-left: 15em; padding: 0ex 1em; }

#content .administration {
  color: <%=p :dark_blue %>;
  text-align: right;
  margin: 0.5ex 0em 2ex 0em;
}

#content .message {
  color: <%=p :mid_blue %>;
  padding: 0ex 1em;
  margin: 0ex;
}

#content .administration a { color: <%=p :dark_blue %>; }
#content .administration a:hover, #content .administration a:focus {
  text-decoration: underline;
}

/**
 * Mobile (small) Version
 */

@media (max-width:600px) {
  #categories {
    float: none;
    border-right-width: 0px;
    margin-right: 0em;
    width: auto;
    border-bottom: 1px solid <%=p :mid_gray %>;
    margin-bottom: 4ex;
  }

  #categories li .entry.first {
    <%=border_radius '0em' %>
    <%=border_radius :top => '0.7em' %>
  }
  
  #content { margin-left: 0em; }
}
