<div id="message_window">
  <div class="title">
    Impressum
  </div>
  <div class="message">
    <p>
      <b>Petra Leiers-Kording</b><br />
      geschäftlich handelnd unter der Bezeichnung
    </p>
    <p>
      <b>LeiKor Direktimporte</b><br />
      Ferd.-Tönnies-Str. 45<br />
      23701 Eutin
    </p>
    <table>
      <tr>
        <th>
          Telefon:
        </th>
        <td>
          04521 - 830 430
        </td>
      </tr>
      <tr>
        <th>
          Fax:
        </th>
        <td>
          03212 - 830 4300
        </td>
      </tr>
      <tr>
        <th>
          E-Mail:
        </th>
        <td>
          <%= mail_to 'Info@Leikor.de' %>
        </td>
      </tr>
      <tr>
        <th>
          Internet:
        </th>
        <td>
          <%= link_to 'http://www.leikor.de/', 'http://www.leikor.de/' %>
        </td>
      </tr>
    </table>
    <p>
      Inhaltlich Verantwortlicher gemäß § 6 MDStV: Petra Leiers-Kording
    </p>
    <p>
      <b>Haftungshinweis:</b><br />
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für
      die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
      ausschließlich deren Betreiber verantwortlich.
    </p>
  </div>
</div>

