#content .article { margin: 1.25em 0em; }
#content .article.first { margin-top: 0.54em; }
#content .article h2 {
  font-weight: bold;
  font-size: 110%;
  padding: 0em;
  color: <%=p :dark_gray %>;
}
#content .article h2 span {
  margin: 0em 1em;
}
#content .article h2 a.toolbutton { margin: 0px 2px; }
#content .article .body {
  overflow: hidden;
  background: <%=p :white %>;
  padding: 0.54em 1.2em;
  border: 1px solid <%=p :mid_gray %>;
  <%=border_radius '0.5em' %>
  margin: 0.18em 0em;
}

#content .article .body .image {
  display: block;
  float: right;
  padding: 0em;
  margin: 0em 0em 0.54em 1em;
  max-width: 100%;
  text-align: center;
}
#content .article .body .image img {
  max-width: 100%;
  border: 1px solid <%=p :mid_gray %>;
}
#content .article .body .image img:hover {
  border-color: <%=p :darker_gray %>;
  <%=box_shadow '0em', '0em', '0.36em', 'rgba(0, 0, 0, 0.5)' %>
}

#content .article.edit .body .image img {
  width: 150px;
  height: 150px;
}

#content .article .administration { margin-top: 0em; }
#content .article .body .description {
  margin-bottom: 0.36em;
}

#content .article .body .dimensions {
  text-align: left;
  margin-bottom: 2.15em;
}

#content .article .body .label {
  font-weight: bold;
}

/******************************************************************************/

#content .article .body .features ul {
  list-style: none;
  margin: 0em 1em 0.54em;
  padding: 0em;
}

#content .article .body .features li.feature {
  display: inline-block;
  width: 32px;
  height: 32px;
  <%=border_radius '7px' %>
  border: 1px solid <%=p :black %>;
  cursor: help;
  background-color: <%=p :white %>;
}

#content .article .body .features .feature .alt {
  display: none;
}

/******************************************************************************/

#content .article .body .prices {
  text-align: right;
  display: inline-table;
}

#content .article .body .prices .price {
  display: table-row;
}

#content .article .body .prices .minimum_count,
#content .article .body .prices .amount,
#content .article .body .prices .active {
  display: table-cell;
}

#content .article .body .prices .price.first {
  font-size: 150%;
}

#content .article .body .prices .minimum_count {
  font-size: 75%;
  padding-right: 5pt;
  font-variant: small-caps;
}

#content .article .body .article_number {
  text-align: right;
  font-size: 85%;
}

#content .article.edit .body .image {
  text-align: center;
  padding: 0.36em 0.5em;
  border: 1px solid <%=p :darker_gray %>;
  <%=border_radius '0.3em' %>
}

#content .article.edit h2 input {
  width: 100%;
  font-size: 100%;
}

#content .article.edit .body .description {
  display: block;
  width: 100%;
  font-size: 100%;
}

#content .article.edit .body .price input, #content .article.edit .body .dimensions input, #content
.article.edit .body .article_number input {
  text-align: right;
  font-size: 100%;
}

/**
 * Mobile (small) Version
 */

@media (max-width:800px) {
  #content .article .body .image {
    margin: 0em;
  }
  
  #content .article .body .image {
    float: none;
  }
  #content .article.edit .body .image {
    margin-bottom: 1.08em;
  }
}
