#content .article { margin: 7ex 0em; }
#content .article.first { margin-top: 3ex; }
#content .article h2 {
  font-weight: bold;
  font-size: 110%;
  padding: 0ex;
  color: <%=p :dark_gray %>;
}
#content .article h2 span {
  margin: 0ex 1em;
}
#content .article h2 a.toolbutton { margin: 0px 2px; }
#content .article .body {
  overflow: hidden;
  background: <%=p :white %>;
  padding: 3ex 1.2em;
  border: 1px solid <%=p :mid_gray %>;
  <%=border_radius '0.5em' %>
  margin: 1ex 0em;
}

#content .article .body .image {
  display: block;
  float: left;
  padding: 0ex;
  margin: 0ex 1em 3ex 0em;
  max-width: 100%;
  text-align: center;
}
#content .article .body .image img {
  max-width: 100%;
}

#content .article.edit .body .image img {
  width: 150px;
  height: 150px;
}

#content .article .administration { margin-top: 0ex; }
#content .article .body .description {
  margin-bottom: 12ex;
}

#content .article .body .dimensions {
  text-align: left;
  margin-top: 2ex;
}

#content .article .body .dimensions .label {
  font-weight: bold;
}

#content .article .body .price {
  text-align: right;
  font-size: 200%;
}

#content .article .body .article_number {
  text-align: right;
  font-size: 85%;
}

#content .article.edit .body .image {
  text-align: center;
  padding: 2ex 0.5em;
  border: 1px solid <%=p :darker_gray %>;
  <%=border_radius '0.3em' %>
}

#content .article.edit h2 input {
  width: 100%;
  font-size: 100%;
}

#content .article.edit .body .description {
  display: block;
  width: 100%;
}

#content .article.edit .body .price input, #content .article.edit .body
.dimensions input, #content .article.edit .body .article_number input {
  text-align: right;
  font-size: 100%;
}

/**
 * Mobile (small) Version
 */

@media (max-width:800px) {
  #content .article .body .image {
    float: none;
  }
}
