#content .article { margin: 3.5ex 0em; }
#content .article.first { margin-top: 1.5ex; }
#content .article h2 {
  font-weight: bold;
  font-size: 110%;
  padding: 0ex;
  margin: 0ex 1em;
  color: <%=p :dark_gray %>;
}
#content .article .body {
  overflow: hidden;
  background: <%=p :white %>;
  padding: 1.5ex 1.2em;
  border: 1px solid <%=p :mid_gray %>;
  <%=border_radius '0.5em' %>
  margin: 0.5ex 0em;
}

#content .article .body .image {
  display: block;
  float: left;
  padding: 0ex;
  margin: 0ex 1em 1.5ex 0em;
  width: 300px;
  height: 300px;
}
#content .article .body .image img { width: 300px; height: 300px; }
#content .article.edit .body .image { width: 150px; height: 150px; }
#content .article.edit .body .image img { width: 150px; height: 150px; }

#content .article .administration { margin-top: 0ex; }
#content .article .body .description {
  font-family: "Serif" serif;
  margin-bottom: 6ex;
}

#content .article .body .dimensions {
  font-family: "Serif" serif;
  text-align: left;
  margin-top: 1ex;
}

#content .article .body .dimensions .label {
  font-weight: bold;
}

#content .article .body .price {
  text-align: right;
  font-size: 200%;
}

#content .article .body .article_number {
  text-align: right;
  font-size: 85%;
}
#content .article .body .article_number .value { font-family: "Monospace" monospace; }

#content .article.edit .body .image {
  text-align: center;
  padding: 1ex 0.5em;
  border: 1px solid #777;
  <%=border_radius '0.3em' %>
}
#content .article.edit .body .image img { height: 150px; width: 150px; }

#content .article.edit h2 input {
  width: 100%;
  font-size: 100%;
}

#content .article.edit .body .description {
  display: block;
  width: 100%;
}

#content .article.edit .body .price input, #content .article.edit .body
.dimensions input, #content .article.edit .body .article_number input {
  text-align: right;
  font-size: 100%;
}
