#content { margin-left: 13em; padding: 0ex 1em; }
#content .no_article {
  font-size: 150%;
  color: #aaa;
  text-align: center;
  font-weight: bold;
  padding: 2ex 0em;
}
#content .category_overview { margin: 1.5ex 0em; }
#content .category_overview .title a {
    font-weight: bold;
    font-size: 110%;
    padding: 0ex;
    margin: 0ex 1em;
    color: #444;
}
#content .category_overview .title a:after {
  content: ' \00bb';
  visibility: hidden;
}
#content .category_overview .title a:hover:after { visibility: visible; }
#content .category_overview .title a.toolbutton { margin: 0px 2px; }
#content .category_overview .title a.toolbutton:after { content: ''; }
#content .category_overview .body {
    overflow: hidden;
    background: #fff;
    padding: 0.5ex;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin: 0.5ex 0em;
}

#content .category_overview .body a {
    display: block;
    float: left;
    padding: 0ex;
    margin: 0.5ex;
    width: 150px;
    height: 150px;
}
#content .category_overview .body a img { width: 150px; height: 150px;}

#content .category_overview .no_article {
  font-size: 150%;
  color: #aaa;
  text-align: center;
  font-weight: bold;
  padding: 2ex 0em;
}

