.maruku
  :maruku
    Wir haben für Sie eine Sammlung von häufig gestellten Fragen oder Problemen und deren Lösung
    zusammengestellt. Wir werden diese ständig erweitern, um ihre Fragen möglichst einfach und
    schnell zu beantworten.
    
    Falls ihr Anliegen hier nicht aufgelistet ist, zögern Sie nicht [uns zu
    kontaktieren](#{static_path 'kontakt'}).
    
    ------------------------------------------------------------------------------------------------
    
    1. [Ich sehe eine Warnung, wenn ich Adressen, die mit `https` beginnen, besuche.](#HTTPS)
    
    ------------------------------------------------------------------------------------------------
    
    ## Ich sehe eine Warnung, wenn ich Adressen, die mit `https` beginnen, besuche. {#HTTPS}
    
    Vermutlich fehlt ihrem Browser das Wurzelzertifikat von [StartSSL](http://www.startssl.com/).
    Sie können dieses unter der folgenden Adresse herunterladen.
    
    > <http://www.startssl.com/certs/ca.cer>
    
    Dies können Sie nun zu der Liste der bekannten Zertifikate in ihrem Browser hinzufügen. Wie Sie
    das tun können erfahren Sie in der Hilfe ihres Browsers. Falls Sie dort nicht erfolgreich sind,
    werden wir gerne versuchen Ihnen dabei zu helfen. Melden Sie sich dazu unter <span
    class="mail_to">webmaster@leikor.de</span> mit ihrem Anliegen.
    
    
