#body {
  overflow: hidden;
  background: none;
  padding: 0ex;
  border: none;
  border-radius: 0em;
  margin: 7ex 0.5em;
  text-align: center;
}

#message_window {
  display: inline-block;
  overflow: hidden;
  background: #ddd;
  padding: 1.5ex 0.5em;
  border: 1px solid #aaa;
  border-radius: 0.7em;
  min-width: 10em;
  max-width: 23em;
}

#message_window a:hover, #message_window a:focus { text-decoration: underline; }

#message_window h1 {
  padding: 0em;
  margin: 0em;
  margin-bottom: 1ex;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  font-variant: small-caps;
}

#message_window.success {
  background: #D9FFF0;
  border-color: #00a663;
}
#message_window.success h1 { color: #00a663; }

#message_window.error {
  background: #ffcccc;
  border-color: #fe0000;
}
#message_window.error h1 { color: #fe0000; }

#message_window .message {
  padding: 0em;
  margin: 0em;
}

#message_window .response {
  padding: 0em;
  margin: 0em;
  margin-top: 2ex;
}

#message_window .message.error {
  color: #fe0000;
  font-size: 80%;
}

#message_window p.em {
  font-variant: small-caps;
  font-size: 125%;
  font-weight: bold;
}
