<div id="picture_viewer">
  <div class="background" onclick="Effect.Fade('picture_viewer')">&nbsp;</div>
  <div class="frame">
    <div id="picture_viewer_toolbar" class="toolbar">
      <% if logged_in? Employee %>
        <%= toolbutton_to_remote(
          :reload,
          :url => article_picture_path(article.id, :no_animations => true),
          :method => :get,
          :html => {
              :href => article_picture_path(article.id),
              :title => 'Bild neu laden'}
        ) %>
        <%= toolbutton_to(
          :edit,
          edit_article_picture_path(article.id),
          :onclick => "$('picture_viewer_picture').replaceSurroundedImage('#{image_path 'picture/original/in_work.png'}', '600px', '600px') && openPopup(this.href); return false",
          :title => 'Bild bearbeiten'
        ) %>
      <% end %>
      <%= toolbutton_to(
        :close,
        '#',
        :onclick => 'Effect.Fade("picture_viewer"); return false',
        :title => 'Schließen'
      ) %>
    </div>
    <div id="picture_viewer_picture">
      <%= image_tag article.picture.url, :alt => article.name, :style => css_dimensions(article.picture_width, article.picture_height, 'px') %>
    </div>
  </div>
  <% javascript_tag do %>
    $("picture_viewer_toolbar").setStyle({display: "block"});
    $$("#picture_viewer div.background")[0].setStyle({display: "block"});
    $("picture_viewer").placeAt(window.pageXOffset, window.pageYOffset);
  <% end %>
</div>
