<div id="picture_viewer">
  <div class="background" onclick="Effect.Fade('picture_viewer')">&nbsp;</div>
  <div class="frame">
    <div id="picture_viewer_toolbar" class="toolbar">
      <% if superuser_logged_in? %>
        <%= link_to_remote(
          image_tag('pictogram/medium/reload.png'),
          :url => article_picture_path(article.id, :no_animations => true),
          :method => :get,
          :html => {
            :href => article_picture_path(article.id),
            :title => 'Bild neu laden',
            :class => 'toolbutton'}
        ) %>
        <%= link_to(
          image_tag('pictogram/medium/edit.png'),
          edit_article_picture_path(article.id),
          :onclick => "$('picture_viewer_picture').replaceSurroundedImage('#{image_path 'picture/original/in_work.png'}', '600px', '600px') && openPopup(this.href); return false",
          :title => 'Bild bearbeiten',
          :class => 'toolbutton'
        ) %>
      <% end %>
      <%= link_to(
        image_tag('pictogram/medium/close.png'),
        'javascript:Effect.Fade("picture_viewer")',
        :title => 'Schließen',
        :class => 'toolbutton'
      ) %>
    </div>
    <div id="picture_viewer_picture">
      <%= image_tag article.picture.url, :alt => article.name, :style => css_dimensions(article.picture_width, article.picture_height, 'px') %>
    </div>
  </div>
  <% javascript_tag do %>
    $("picture_viewer_toolbar").setStyle({display: "block"});
    $$("#picture_viewer div.background")[0].setStyle({display: "block"});
    $("picture_viewer").placeAt(window.pageXOffset, window.pageYOffset);
  <% end %>
</div>
