<p>
  Petra Leiers-Kording<br />
  <span style="font-size: large;">LEIKOR Direktimporte</span>
</p>
<table class="contact">
  <tr>
    <th>
      Anschrift:
    </th>
    <td>
      Ferd.-Tönnies-Str. 45<br />
      23701 Eutin
    </td>
  </tr>
  <tr>
    <th>
      Telefon:
    </th>
    <td>
      04521 - 830 430
    </td>
  </tr>
  <tr>
    <th>
      Fax:
    </th>
    <td>
      03212 - 830 4300
    </td>
  </tr>
  <tr>
    <th>
      E-Mail:
    </th>
    <td>
      <%= mail_to 'info@leikor.de' %>
    </td>
  </tr>
</table>
