<h1>Allgemeine Geschäftsbedingungen</h1>
<p>
  Die allgemeinen Geschäftsbedingungen werden vom Käufer mit der Erteilung des Auftrages anerkannt.
</p>

<h2>Preise</h2>
<p>
  Alle Preise sind Netto-Preise zuzüglich der geltenden gesetzlichen Mehrwertsteuer.<br />
  Versandkosten werden extra berechnet.<br />
  Wir behalten uns Preisänderungen bei außergewöhnlichen Devisenschwankungen vor.<br />
  Verkaufsvereinbarungen werden erst durch die schriftliche Bestätigung der 
  Firma LEIKOR gültig.
</p>

<h2>Muster</h2>
<p>
  Muster sind unverbindlich. Die Ware ist handbearbeitet, daher können geringe Abweichungen in der Qualität, Farbe, Form und in der Größe entstehen und müssen toleriert werden.
</p>

<h2>Bestellungen & Lieferungen</h2>
<p>
  Bestellungen können am besten per Telefax oder per e-Mail aufgegeben werden.<br />
  Der Mindestbestellwert beträgt 150,-€.<br />
  Bei Bestellungen unter diesem Wert erheben wir einen Mindermengenaufschlag von 10,-€.<br />
</p>

<h2>Liefertermine und Lieferfristen sind unverbindlich, höhere Gewalt</h2>
<p>
  jeder Art können die Liefertermine verzögern.<br />
  Der Käufer hat bei Überschreitung der Lieferfrist keinen Anspruch auf Schadensersatz oder Verzugsstrafen oder Vornahme eines Deckungskaufes.<br />
  Bevor der Kunde von seinem Vertrag zurücktreten kann, hat er im Falle eines Lieferverzuges dem Verkäufer in schriftlicher Form eine angemessene Frist zur Nachlieferung zu setzen.
</p>

<h2>Zahlungsbedingungen</h2>
<p>
  Bei allen Erstkunden erfolgt die Lieferung bei den ersten 3 Bestellungen ausschließlich
  per Vorkasse.<br />
  Grundsätzlich behalten wir uns eine Bonitätsprüfung vor.<br />
  Wir gewähren 3 % Rabatt bei Zahlung per Vorkasse.<br />
  Wir gewähren 2 % Skonto bei Zahlung innerhalb von 8 Tagen nach Rechnungsdatum.<br />
  Bei einem Zahlungsverzug berechnen wir für jede Zahlungserinnerung 5 € Mahngebühren .<br />
  Ab der 1. Mahnung berechnen wir Verzugszinsen in Höhe von 5% über dem aktuellen Diskontsatz der Bundesbank.<br />
  Ab der 2. Mahnung liefern wir nur noch gegen Vorkasse.
</p>

<h2>Versand</h2>
<p>
  Die Wahl der Versandart erfolgt nach unseren Ermessen. In der Regel liefern wir mit 
  der Post (DHL), die Lieferung erfolgt auf Rechnung und Gefahr des Käufers.<br />
  Die Versandkosten incl. Verpackung betragen für ein Paket bis 31,5 kg 6,90 €.<br />
  Frachtfreie Lieferung nach Absprache.<br />
  Ist eine Sendung äußerlich beschädigt, sollten Sie die Annahme verweigern.
</p>

<h2>Eigentumsvorbehalt</h2>
<p>
  Die gelieferte Ware bleibt bis zur vollständigen Bezahlung gemäß § 455 BGB Eigentum der Firma LEIKOR, Petra Leiers-Kording, auch Dritten gegenüber.<br />
  Der Käufer ist verpflichtet, uns Zugriffe dritter Personen auf die unter Eigentumsvorbehalt gelieferten Waren unverzüglich mitzuteilen.
</p>

<h2>Gewährleistung</h2>
<p>
  Reklamationen müssen innerhalb von 7 Tagen nach Eintreffen der Ware erfolgen.<br />
  Es liegt in unserem Ermessen zu entscheiden, ob ein Material – oder Herstellungsfehler vorliegt.<br />
  Bei Bambus-und Holzprodukten können trotz fachgerechter Lagerung und langer Trockenzeit klimabedingte Risse auftreten und müssen toleriert werden.<br />
  Rücksendungen werden nur nach telefonischer Absprache angenommen.<br />
  Unfreie Sendungen werden nicht angenommen.
</p>

<h2>Erfüllungsort und Gerichtsstand</h2>
<p>
  Erfüllungsort und Gerichtsstand für beide Seiten ist Eutin.
</p>

<h2>Fragen?</h2>
<p>
  Sie haben noch Fragen? Bitte sprechen Sie uns an, wir werden eine Lösung finden.<br />
  Sollten Sie sich mal über uns ärgern, weil uns ein Fehler unterlaufen ist, oder Sie haben Verbesseungsvorschläge-<br />
  dann rufen Sie uns an, wir sind für Sie da!
</p>
<p style="margin-bottom: 3ex;">
  Wenn Sie mit uns zufrieden sind, teilen Sie uns das auch gerne mit, das motiviert!!
</p>
<%= render :partial => 'kontakt' %>
