:markdown
  Allgemeine Gesch&auml;fts&shy;bedingungen
  =========================================

  Die allgemeinen Gesch&auml;ftsbedingungen werden vom K&auml;ufer mit der Erteilung des Auftrages
  anerkannt.


  Preise
  ======

  Alle Preise sind Netto-Preise zuz&uuml;glich der geltenden gesetzlichen Mehrwertsteuer.
  Versandkosten werden extra berechnet.

  Wir behalten uns Preis&auml;nderungen bei au&szlig;ergew&ouml;hnlichen Devisenschwankungen vor.
  Verkaufsvereinbarungen werden erst durch die schriftliche Best&auml;tigung der Firma LEIKOR
  g&uuml;ltig.


  Muster
  ======

  Muster sind unverbindlich. Die Ware ist handbearbeitet, daher k&ouml;nnen geringe Abweichungen in
  der Qualit&auml;t, Farbe, Form und in der Gr&ouml;&szlig;e entstehen und m&uuml;&szlig;en
  toleriert werden.


  Bestellungen &amp; Lieferungen
  ==========================

  Bestellungen k&ouml;nnen am besten per Telefax oder per E-Mail aufgegeben werden.
  
  Der Mindestbestellwert betr&auml;gt 150,-&nbsp;&euro;.
  
  Bei Bestellungen unter diesem Wert erheben wir einen Mindermengenaufschlag von 10,-&nbsp;&euro;.

  Liefertermine und Lieferfristen sind unverbindlich, h&ouml;here Gewalt jeder Art k&ouml;nnen die
  Liefertermine verz&ouml;gern.
  
  Der K&auml;ufer hat bei &uuml;berschreitung der Lieferfrist keinen Anspruch auf Schadensersatz
  oder Verzug&szlig;trafen oder Vornahme eines Deckungskaufes.
  
  Bevor der Kunde von seinem Vertrag zur&uuml;cktreten kann, hat er im Falle eines Lieferverzuges
  dem Verk&auml;ufer in schriftlicher Form eine angeme&szlig;ene Frist zur Nachlieferung zu setzen.


  Zahlungsbedingungen
  ===================

  Bei allen Erstkunden erfolgt die Lieferung bei den ersten 3 Bestellungen au&szlig;chlie&szlig;lich
  per Vorka&szlig;e.
  
  Grunds&auml;tzlich behalten wir uns eine Bonit&auml;tspr&uuml;fung vor.

  Wir gew&auml;hren 3% Rabatt bei Zahlung per Vorka&szlig;e.

  Wir gew&auml;hren 2% Skonto bei Zahlung innerhalb von 8 Tagen nach Rechnungsdatum.

  Bei einem Zahlungsverzug berechnen wir f&uuml;r jede Zahlungserinnerung 5&nbsp;&euro;
  Mahngeb&uuml;hren.

  Ab der 1. Mahnung berechnen wir Verzugszinsen in H&ouml;he von 5% &uuml;ber dem aktuellen
  Diskontsatz der Bundesbank.

  Ab der 2. Mahnung liefern wir nur noch gegen Vorka&szlig;e.


  Versand
  =======

  Die Wahl der Versandart erfolgt nach unseren Erme&szlig;en. In der Regel liefern wir mit der Post
  (DHL), die Lieferung erfolgt auf Rechnung und Gefahr des K&auml;ufers.

  Die Versandkosten incl. Verpackung betragen f&uuml;r ein Paket bis 31,5&nbsp;kg 6,90&nbsp;&euro;.

  Ist eine Sendung &auml;u&szlig;erlich besch&auml;digt, sollten Sie die Annahme verweigern.


  Eigentumsvorbehalt
  ==================

  Die gelieferte Ware bleibt bis zur vollst&auml;ndigen Bezahlung gem&auml;&szlig;
  &sect;&nbsp;455&nbsp;BGB Eigentum der Firma LEIKOR, Petra Leiers-Kording, auch Dritten
  gegen&uuml;ber.

  Der K&auml;ufer ist verpflichtet, uns Zugriffe dritter Personen auf die unter Eigentumsvorbehalt
  gelieferten Waren unverz&uuml;glich mitzuteilen.


  Gew&auml;hrleistung
  ==============

  Reklamationen m&uuml;&szlig;en innerhalb von 7 Tagen nach Eintreffen der Ware erfolgen.

  Es liegt in unserem Erme&szlig;en zu entscheiden, ob ein Material - oder Herstellungsfehler
  vorliegt.

  Bei Bambus-und Holzprodukten k&ouml;nnen trotz fachgerechter Lagerung und langer Trockenzeit
  klimabedingte Ri&szlig;e auftreten und m&uuml;&szlig;en toleriert werden.

  R&uuml;cksendungen werden nur nach telefonischer Absprache angenommen.

  Unfreie Sendungen werden nicht angenommen.


  Erf&uuml;llungsort und Gericht&szlig;tand
  ===============================

  Erf&uuml;llungsort und Gericht&szlig;tand f&uuml;r beide Seiten ist Eutin.


  Fragen?
  =======

  Sie haben noch Fragen? Bitte sprechen Sie uns an, wir werden eine L&ouml;sung finden.

  Sollten Sie sich mal &uuml;ber uns &auml;rgern, weil uns ein Fehler unterlaufen ist, oder Sie
  haben Verbe&szlig;erungsvorschl&auml;ge - dann rufen Sie uns an, wir sind f&uuml;r Sie da!

  Wenn Sie mit uns zufrieden sind, teilen Sie uns das auch gerne mit, das motiviert!!

  ---
  
  #{render :partial => 'kontakt'}
