<h1>Allgemeine Gesch&auml;ftsbedingungen</h1>
<p>
  Die allgemeinen Gesch&auml;ftsbedingungen werden vom K&auml;ufer mit der Erteilung des Auftrages
  anerkannt.
</p>
<h2>Preise</h2>
<p>
  Alle Preise sind Netto-Preise zuz&uuml;glich der geltenden gesetzlichen Mehrwertsteuer.
  Versandkosten werden extra berechnet.<br />
  Wir behalten uns Preis&auml;nderungen bei au&szlig;ergew&ouml;hnlichen Devisenschwankungen vor.
  Verkaufsvereinbarungen werden erst durch die schriftliche Best&auml;tigung der Firma LEIKOR
  g&uuml;ltig.<br />
  Um die g&uuml;nstigsten Preisstaffeln (zweiter und dritter Staffelpreis) erm&ouml;glichen zu
  k&ouml;nnen, ben&ouml;tigen wir eine Anzahlung von 50&nbsp;% des Auftragswertes bei
  Auftragsabschlu&szlig; bzw. Erhalt der Auftragsbest&auml;tiung.
</p>
<h2>Muster</h2>
<p>
  Muster sind unverbindlich. Die Ware ist handbearbeitet, daher k&ouml;nnen geringe Abweichungen in
  der Qualit&auml;t, Farbe, Form und in der Gr&ouml;&szlig;e entstehen und m&uuml;ssen toleriert
  werden.
</p>
<h2>Bestellungen &amp; Lieferungen</h2>
<p>
  Bestellungen k&ouml;nnen am besten per Telefax oder per e-mail aufgegeben werden.<br />
  Der Mindestbestellwert betr&auml;gt 150,-&euro;.<br />
  Bei Bestellungen unter diesem Wert erheben wir einen Mindermengenaufschlag von 10,-&euro;.
</p>
<p>
  Liefertermine und Lieferfristen sind unverbindlich, h&ouml;here Gewalt jeder Art k&ouml;nnen die
  Liefertermine verz&ouml;gern.<br />
  Der K&auml;ufer hat bei &Uuml;berschreitung der Lieferfrist keinen Anspruch auf Schadensersatz
  oder Verzugsstrafen oder Vornahme eines Deckungskaufes.<br />
  Bevor der Kunde von seinem Vertrag zur&uuml;cktreten kann, hat er im Falle eines Lieferverzuges
  dem Verk&auml;ufer in schriftlicher Form eine angemessene Frist zur Nachlieferung zu setzen.
</p>
<h2>Zahlungsbedingungen</h2>
<p>
  Bei allen Erstkunden erfolgt die Lieferung bei den ersten 3 Bestellungen ausschlie&szlig;lich per
  Vorkasse.<br />
  Grunds&auml;tzlich behalten wir uns eine Bonit&auml;tspr&uuml;fung vor.<br />
  Wir gew&auml;hren 3&nbsp;% Rabatt bei Zahlung per Vorkasse.<br />
  Wir gew&auml;hren 2&nbsp;% Skonto bei Zahlung innerhalb von 8 Tagen nach Rechnungsdatum.<br />
  Bei einem Zahlungsverzug berechnen wir f&uuml;r jede Zahlungserinnerung 5&nbsp;&euro;
  Mahngeb&uuml;hren.<br />
  Ab der 1. Mahnung berechnen wir Verzugszinsen in H&ouml;he von 5&nbsp;% &uuml;ber dem aktuellen
  Diskontsatz der Bundesbank.<br />
  Ab der 2. Mahnung liefern wir nur noch gegen Vorkasse.
</p>
<h2>Versand</h2>
<p>
  Die Wahl der Versandart erfolgt nach unseren Ermessen. In der Regel liefern wir mit der Post
  (DHL), die Lieferung erfolgt auf Rechnung und Gefahr des K&auml;ufers.<br />
  Die Versandkosten inkl. Verpackung betragen f&uuml;r ein Paket bis 31,5&nbsp;kg
  6,90&nbsp;&euro;.<br />
  Nachlieferungen liefern wir frachtfrei, wenn die komplette Ware in ein Paket gepasst
  h&auml;tte.<br />
  Ist eine Sendung &auml;u&szlig;erlich besch&auml;digt, sollten Sie die Annahme verweigern.
</p>
<h2>Eigentumsvorbehalt</h2>
<p>
  Die gelieferte Ware bleibt bis zur vollst&auml;ndigen Bezahlung gem&auml;&szlig; &sect; 455 BGB
  Eigentum der Firma LEIKOR, Petra Leiers-Kording, auch Dritten gegen&uuml;ber.<br />
  Der K&auml;ufer ist verpflichtet, uns Zugriffe dritter Personen auf die unter Eigentumsvorbehalt
  gelieferten Waren unverz&uuml;glich mitzuteilen.
</p>
<h2>Gew&auml;hrleistung</h2>
<p>
  Reklamationen m&uuml;ssen innerhalb von 7 Tagen nach Eintreffen der Ware erfolgen.<br />
  Es liegt in unserem Ermessen zu entscheiden, ob ein Material &ndash; oder Herstellungsfehler
  vorliegt.<br />
  Bei Bambus-und Holzprodukten k&ouml;nnen trotz fachgerechter Lagerung und langer Trockenzeit
  klimabedingte Risse auftreten und m&uuml;ssen toleriert werden.<br />
  R&uuml;cksendungen werden nur nach telefonischer Absprache angenommen.<br />
  Unfreie Sendungen werden nicht angenommen.
</p>
<h2>Erf&uuml;llungsort und Gerichtsstand</h2>
<p>
  Erf&uuml;llungsort und Gerichtsstand f&uuml;r beide Seiten ist Eutin.
</p>

<h1>Fragen?</h1>
<p>
  Sie haben noch Fragen? Bitte sprechen Sie uns an, wir werden eine L&ouml;sung finden.<br />
  Sollten Sie sich mal &uuml;ber uns &auml;rgern, weil uns ein Fehler unterlaufen ist, oder Sie
  haben Verbesserungsvorschl&auml;ge &ndash; dann rufen Sie uns an, wir sind f&uuml;r Sie da!
</p>
<p style="margin-bottom: 3ex;">
  Wenn Sie mit uns zufrieden sind, teilen Sie uns das auch gerne mit, das motiviert!!
</p>
<hr />
<%= render :partial => 'kontakt' %>
