<div id="message_window">
  <h1>Implementierung fehlt</h1>
  <p>
    Der zuständige Programmierer macht seit 5 Jahren 13 Tagen und 42 Sekunden eine kurze Mittagspause.
    Sobald er zurückkehrt wird die fehlende Funktion implementiert.
  </p><h2 class="center">
    Es grüßt das Entwicklerteam!
  </h2>
</div>
