#message_window
  :markdown
    Implementierung fehlt
    =====================

    Der zuständige Programmierer macht seit 5 Jahren 13 Tagen und 42 Sekunden eine kurze Mittagspause.
    Sobald er zurückkehrt wird die fehlende Funktion implementiert.

    Es grüßt das Entwicklerteam!
    ----------------------------
