<div id="message_window">
  <h1><%= @page[:name] %></h1>
  <div class="message">
    <p>
      Angaben gemäß § 5 TMG
    </p>
    <p>
      <b>Petra Leiers-Kording</b><br />
      geschäftlich handelnd unter der Bezeichnung
    </p>
    <p>
      <b>LEIKOR Direktimporte</b><br />
      Ferd.-Tönnies-Str. 45<br />
      23701 Eutin
    </p>
    <table class="contact">
      <tr>
        <th>
          Telefon:
        </th>
        <td>
          04521 - 830 430
        </td>
      </tr>
      <tr>
        <th>
          Fax:
        </th>
        <td>
          03212 - 830 4300
        </td>
      </tr>
      <tr>
        <th>
          E-Mail:
        </th>
        <td>
          <%= mail_to 'Info@Leikor.de' %>
        </td>
      </tr>
      <tr>
        <th>
          Internet:
        </th>
        <td>
          <%= link_to 'http://www.leikor.de/', 'http://www.leikor.de/' %>
        </td>
      </tr>
    </table>
    <p>
      Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
      DE 187 522 711
    </p>
    <p>
      Inhaltlich Verantwortlicher gemäß § 6 MDStV:<br />
      Petra Leiers-Kording
    </p>
    <p>
      <b>Haftungshinweis:</b><br />
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für
      die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
      ausschließlich deren Betreiber verantwortlich.
    </p>
  </div>
  <h2 id="urheberrechte">Urheberrechte</h1>
  <div class="message">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Lizenzvertrag"
          src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
    <br />
    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">leikor.de</span> von
    <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.leikor.de/"
        property="cc:attributionName" rel="cc:attributionURL">
      LEIKOR
    </a> steht unter einer
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
      Creative Commons Namensnennung-Nicht-kommerziell-Weitergabe unter gleichen Bedingungen 3.0
      Unported Lizenz
    </a>.
  </div>
  <h2>Webdesign & Entwicklung</h2>
  <div class="message">
    <p>
      Arne Ludwig
    </p>
    <table class="contact">
      <tr>
        <th>
          E-Mail:
        </th>
        <td>
          <%= mail_to 'Webmaster@Leikor.de' %>
        </td>
      </tr>
    </table>
  </div>
</div>

