#message_window
  %h1= @page[:name]
  .message= render :partial => 'kontakt'
  
  %h2 Website-Administrator
  .message
    %table.contact
      %tr
        %th
          %span.no_wrap E-Mail:
        %td
          %span.mail_to webmaster@leikor.de

