<div id="message_window">
  <h1><%= @page[:name] %></h1>
  <div class="message">
    <%= render :partial => 'kontakt' %>
  </div>
  <h2>Website-Administrator</h2>
  <div class="message">
    <table class="contact">
      <tr>
        <th>
          E-Mail:
        </th>
        <td>
          <%= mail_to 'Webmaster@Leikor.de' %>
        </td>
      </tr>
    </table>
  </div>
</div>

