<h1><%= @page[:name] %></h1>
<p>
  Nachfolgend alle Messen, auf denen wir zu finden sind, mit allen wichtigen Infos aufgelistet. Wir
  freuen uns, Sie an unserem Stand begrüßen zu dürfen!
</p>
<div class="infobox">
  <table id="fair_dates">
    <thead>
      <tr class="first odd">
        <th class="date first odd" colspan="3">Termin</th>
        <th class="fair even">Messe</th>
        <th class="stand odd">Stand</th>
        <th class="comment last even">Kommentar</th>
      </tr>
    </thead>
    <tbody>
      <tr class="even">
        <td class="date from first odd">15.1.2011</td>
        <td class="dash odd">&nbsp;-&nbsp;</td>
        <td class="date to odd">18.1.2011</td>
        <td class="fair even">
          <a href="#" class="external" title="zur Homepage der Dekor-Messe">Dekor-Messe</a>
        </td>
        <td class="stand odd">Halle 5, Block A, Abschnitt 3</td>
        <td class="comment last even">Unsere Dekor-Artikel werden im Vordergrund stehen.</td>
      </tr>
      <tr class="last odd">
        <td class="date from first odd">28.1.2011</td>
        <td class="dash odd">&nbsp;-&nbsp;</td>
        <td class="date to odd">28.1.2011</td>
        <td class="fair even">
          <a href="#" class="external" title="zur Homepage der Imaginata">Imaginata</a>
        </td>
        <td class="stand odd">23C, Halle 5</td>
        <td class="comment last even">Passend zum Motto der Messe zeigen wir unser ausgefallenes Sortiment.</td>
      </tr>
    </tbody>
  </table>
</div>
