<div id="message_window">
  <div class="toolbar">
    <%= link_to(
      image_tag('pictogram/medium/edit.png'),
      '#',
      :class => 'toolbutton',
      :title => "Profil bearbeiten."
    ) %>
    <%= link_to(
      image_tag('pictogram/medium/destroy.png'),
      '#',
      :class => 'toolbutton',
      :title => "Firmendaten löschen."
    ) %>
  </div>
  <h1>
    Meine Firma
  </h1>
  <div class="message">
    <table class="profile">
      <tr>
        <th>
          <span class="no_wrap">Login:</span>
        </th>
        <td>
          leikor
        </td>
      </tr>
      <tr>
        <th>
          <span class="no_wrap">Passwort:</span>
        </th>
        <td>
          <%= link_to 'Passwort ändern', '#' %>
        </td>
      </tr>
    </table>
  </div>
  <h2>Kontakt</h2>
  <div class="message">
    <table class="profile">
      <tr>
        <th>
          <span class="no_wrap">Titel:</span>
        </th>
        <td>
          Prof. Dr.
        </td>
      </tr>
      <tr>
        <th>
          <span class="no_wrap">Name:</span>
        </th>
        <td>
          Heinz Mustermann
        </td>
      </tr>
      <tr class="begin_section">
        <th>
          <span class="no_wrap">geschäftlich:</span>
        </th>
        <td>
          <%= mail_to 'info@leikor.de' %>
        </td>
      </tr>
    </table>
    <div class="infobox">
      Bitte nur in den Geschäftszeiten anrufen: Mo-Fr, 9:00 - 18:00 Uhr
    </div>
  </div>
</div>

