%h1 Willkommen bei LEIKOR!

%p
  Wir sind ein <p>Gro&szlig;handel</b> für Schönes aus Naturmaterialien:
%ul
  %li geschnitzte Elefanten, Eulen, Pferde in Teak-Holz gearbeitet.
  %li Wurzelholzdekorationen
  %li Mobiles aus Naturmaterialien
  %li Taschen und Schals aus Baumwolle &amp; Seide
  %li Musikinstrumente aus Naturmaterialien

%p
  Um Ihnen weitere Informationen und Preislisten zusenden zu
  können, <%= static_link_to :kontakt, :label => 'mailen' %> oder
  <%= static_link_to :kontakt, :label => 'faxen' %> Sie uns bitte Ihre
  Gewerbeanmeldung.
%h2#center
  Wir freuen uns auf Sie!
