:markdown
  Willkommen bei LEIKOR!
  ======================
  
  Bei uns finden Sie Schönes aus Naturmaterialien:
  
  - geschnitzte Elefanten, Eulen, Pferde in Teak-Holz gearbeitet.
  - Wurzelholzdekorationen
  - Mobiles aus Naturmaterialien
  - Taschen und Schals aus Baumwolle & Seide
  - Musikinstrumente aus Naturmaterialien

  Um Ihnen weitere Informationen und Preislisten zusenden zu können,
  #{static_link_to :kontakt, :label => 'mailen'} oder #{static_link_to :kontakt, :label => 'faxen'}
  Sie uns bitte Ihre Gewerbeanmeldung.
%h2.center Wir freuen uns auf Sie!

