<h1>Willkommen bei LEIKOR!</h1>
<p>
  Wir sind ein <p>Gro&szlig;handel</b> für Schönes aus Naturmaterialien:
</p>
<ul>
  <li>
    geschnitzte Elefanten, Eulen, Pferde in Teak-Holz
    gearbeitet.
  </li>
  <li>Wurzelholzdekorationen</li>
  <li>Mobiles aus Naturmaterialien</li>
  <li>Taschen und Schals aus Baumwolle &amp; Seide</li>
  <li>Musikinstrumente aus Naturmaterialien</li>
</ul>
<p>
  Um Ihnen weitere Informationen und Preislisten zusenden zu
  können, <%= static_link_to :kontakt, :label => 'mailen' %> oder
  <%= static_link_to :kontakt, :label => 'faxen' %> Sie uns bitte Ihre
  Gewerbeanmeldung.
</p>
<h2 class="center">
  Wir freuen uns auf Sie!
</h2>

