<div id="fair_dates_mobile">
  <p id="new_fair_date" class="administration">
    <% if employee_logged_in? %>
      <%= link_to(
        image_tag('pictogram/medium/new.png'),
        new_fair_date_path,
        :onclick => open_popup,
        :class => 'toolbutton',
        :title => 'Neuen Messetermin erstellen'
      ) %>
    <% end %>
  </p>
  <ul>
    <% unless @fair_dates.empty? %>
      <% @fair_dates.each do |fd| %>
        <%= render :partial => 'fair_date_mobile', :locals => {
          :fair_date => fd} %>
      <% end %>
    <% else %>
      <li class="last no_dates">
        Zur Zeit keine Messetermine.
      </li>
    <% end %>
  </ul>
  <%=clear_float %>
</div>

