<div class="administration">
  <% if superuser_logged_in? %>
    <%= link_to(
      image_tag('pictogram/medium/new.png'),
      new_fair_date_path,
      :class => 'toolbutton',
      :title => 'Neuen Messetermin erstellen'
    ) %>
  <% end %>
</div>
<% unless @fair_dates.empty? %>
  <ul id="fair_dates">
    <%= render :partial => 'fair_date', :collection => @fair_dates %>
  </ul>
  <%=clear_float %>
<% else %>
  <h1 class="empty">
    Zur Zeit keine Messetermine.
  </h1>
<% end %>

