<h1>Messetermine</h1>
<p>
  Nachfolgend sind alle Messen, auf denen wir zu finden sind, mit allen wichtigen Infos aufgelistet.
  Wir freuen uns, Sie an unserem Stand begrüßen zu dürfen!
</p>
<div id="fair_dates_mobile">
  <ul>
    <% unless @fair_dates.empty? %>
      <% @fair_dates.each do |fd| %>
        <%= render :partial => 'fair_date_mobile', :locals => {
          :fair_date => fd} %>
      <% end %>
    <% else %>
      <li class="last no_dates">
        Zur Zeit keine Messetermine.
      </li>
    <% end %>
  </ul>
  <%=clear_float %>
  <p id="new_fair_date" class="administration">
    <% if superuser_logged_in? %>
      <%= link_to 'Neuen Messetermin erstellen', new_fair_date_path, :onclick => open_popup %>
    <% end %>
  </p>
</div>

