.toolbar {
  float: right;
  text-align: right;
}

table.profile { text-align: left; width: auto; }

table.profile td, table.profile th {
  vertical-align: top;
  padding: 0.07em 0em;
}

table.profile th { text-align: right; }

table.profile td { padding-left: 1em; }

.groups {
  list-style: none;
  text-align: left;
}

table.profile tr.begin_section td, table.profile tr.begin_section th {
  padding-top: 1em;
}
