- if logged_in? Employee
  .administration
    = toolbutton_to :new, new_blog_post_path, :title => 'Neuen Beitrag schreiben'
- unless @blog_posts.empty?
  %ul#blog_posts= render :partial => 'blog_post', :collection => @blog_posts
- else
  %h1.empty Noch keine Beiträge vorhanden.
