<% if logged_in? Employee %>
  <div id="category_administration" class="administration">
    <%= toolbutton_to_remote(
      :new,
      :url => new_category_path,
      :title => 'Neue Kategorie',
      :method => :get
    ) %>
  </div>
<% end %>
<% unless @categories.empty? %>
  <%= render :partial => 'category', :collection => @categories %>
<% else %>
  <h1 class="empty">Keine Kategorien vorhanden.</h1>
<% end %>
