<% if employee_logged_in? %>
  <div id="category_administration" class="administration">
    <%= link_to_remote(
      image_tag('pictogram/medium/new.png'),
      :url => new_category_path,
      :class => 'toolbutton',
      :title => 'Neue Kategorie',
      :method => :get
    ) %>
  </div>
<% end %>
<% unless @categories.empty? %>
  <%= render :partial => 'category', :collection => @categories %>
<% else %>
  <div class="empty_category">Keine Kategorien vorhanden.</div>
<% end %>
