<% if employee_logged_in? %>
  <div id="category_administration" class="administration">
    <%= link_to(
      image_tag('pictogram/medium/destroy.png'),
      ask_destroy_category_path(@category.url_hash),
      :class => 'toolbutton',
      :title => 'Kategorie löschen'
    ) %>
    <%= link_to_remote(
      image_tag('pictogram/medium/new.png'),
      :url => new_category_path(:category_id => @category.id),
      :method => :get,
      :html => {
        :class => 'toolbutton',
        :title => 'Neue Unterkategorie'
      }
    ) %>
  </div>
<% end %>
<% unless @category.subcategories.empty? %>
  <%= render :partial => 'category', :collection => @category.subcategories %>
<% else %>
  <h1 class="empty">Keine Unterkategorien in dieser Kategorie.</h1>
<% end %>
