#content .article { margin: 3.5ex 0em; }
#content .article.first { margin-top: 1.5ex; }
#content .article .title {
    font-weight: bold;
    font-size: 110%;
    padding: 0ex;
    margin: 0ex 1em;
    color: #444;
}
#content .article .body {
    overflow: hidden;
    background: #fff;
    padding: 1.5ex 1.2em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin: 0.5ex 0em;
}

#content .article .body .image {
    display: block;
    float: left;
    padding: 0ex;
    margin: 0ex 1em 1.5ex 0em;
}

#content .article .body .administration {
    color: #0065a8;
    text-align: right;
    margin-bottom: 2ex;
}

#content .article .body .administration a { color: #0065a8; }
#content .article .body .administration a:hover, #content .article .body
.administration a:focus {
    text-decoration: underline;
}

#content .article .body .description {
    font-family: "Serif" serif;
}

#content .article .body .dimensions {
    font-family: "Serif" serif;
    display: block;
    text-align: left;
    margin-top: 1ex;
}

#content .article .body .dimensions .label {
    font-weight: bold;
}

#content .article .body .price {
    display: block;
    text-align: right;
    font-size: 200%;
    margin-top: 3ex;
}

#content .article .body .article_number {
    display: block;
    text-align: right;
    font-size: 85%;
}
#content .article .body .article_number .value { font-family: "Monospace" monospace; }

