#content .article.edit .body .image {
    text-align: center;
    padding: 1ex 0.5em;
    border: 1px solid #777;
    border-radius: 0.3em;
}

#content .article.edit .title input {
    min-width: 10em;
    max-width: 100em;
    font-size: 100%;
}

#content .article.edit .body .description {
    display: block;
    min-width: 10em;
    max-width: 100em;
}

#content .article.edit .body .price input, #content .article.edit .body
.dimensions input, #content .article.edit .body .article_number input {
    text-align: right;
    font-size: 100%;
}

