#fair_dates {
  border-collapse: collapse;
  width: 100%;
}

#fair_dates td, #fair_dates th {
  text-align: left;
  padding: 1ex 0.5em;
  border: none;
  vertical-align: top;
}
#fair_dates th {
  padding-bottom: 0.3ex;
  padding-top: 0.3ex;
}
#fair_dates th a { color: <%=p :white %> }

#fair_dates tr.odd td { background: <%=p :light_gray %>; }
#fair_dates tr.even td { background: <%=p :white %>; }
#fair_dates tr.odd th { background: <%=p :dark_blue %>; color: <%=p :white %>; }
#fair_dates tr.even th { background: <%=p :mid_blue %>; color: <%=p :white %>; }

/* Corners */
#fair_dates tr.first td.first, #fair_dates tr.first th.first {
  <%=border_radius :topleft => '0.3em' %> }
#fair_dates tr.first td.last, #fair_dates tr.first th.last {
  <%=border_radius :topright => '0.3em' %> }
#fair_dates tr.last td.first, #fair_dates tr.last th.first {
  <%=border_radius :bottomleft => '0.3em' %> }
#fair_dates tr.last td.last, #fair_dates tr.last th.last {
  <%=border_radius :bottomright => '0.3em' %> }

/* supress top/bottom border in first/last row  */
#fair_dates tr.first td, #fair_dates tr.first th { border-top: none; }
#fair_dates tr.last td, #fair_dates tr.last th { border-bottom: none; }

#fair_dates td.date.from {
  text-align: right;
  border-right: none;
  padding-right: 0em;
}
#fair_dates td.dash {
  text-align: center;
  border-left: none;
  border-right: none;
  padding-left: 0em;
  padding-right: 0em;
}
#fair_dates td.date.to {
  text-align: left;
  border-left: none;
  padding-left: 0em;
}

#fair_dates td .not_present { font-style: italic; color: <%=p :darker_gray %>; }

#new_fair_date td, #new_fair_date th { text-align: right; }
#new_fair_date a {
  font-weight: bold;
  text-decoration: none;
}
