#fair_dates_mobile ul {
  list-style: none;
  padding: 0em;
  margin: 0em;
}

#fair_dates_mobile li.infobox {
  display: inline-block;
  width: 25em;
  margin: 1.5ex 0.5em 1ex 0.5em;
  margin-top: 1.5ex;
  margin-bottom: 1ex;
  text-align: left;
  vertical-align: top;
}

#fair_dates_mobile .administration {
  float: right;
}

#fair_dates_mobile h2 {
  margin: 0ex 0em 0ex 0em;
  font-size: 150%;
  color: <%=p :dark_green %>;
}

#fair_dates_mobile h2 a, #fair_dates_mobile h2 {
  font-family: 'Sans', sans-serif;
  text-decoration: none;
  font-weight: bold;
}


#fair_dates_mobile .info {
  margin: 0ex;
  padding: 0ex 1em;
  font-family: 'Sans', sans-serif;
  font-size: 90%;
}
#fair_dates_mobile .date {
  font-weight: bold;
}

#fair_dates_mobile .comment {
  margin-top: 2.5ex;
  font-family: 'Sans', sans-serif;
}

#new_fair_date a {
  font-weight: bold;
  text-decoration: none;
}

/**
 * Mobile (small) Version
 */

@media (max-width:600px) {
  #fair_dates_mobile li.infobox {
    float: none;
    width: auto;
    margin-left: 0em;
    margin-right: 0em;
  }
}
