#body {
    padding: 1.5ex 1.2em;
}

#body a {
    font-weight: normal;
    text-decoration: underline;
}

#body a:hover, #body a:focus {
    font-style: italic;
    text-decoration: none;
}

#body h1, #body h2 {
    font-size: 150%;
    padding: 0ex;
    margin: 0ex 0em 2ex 0em;
}

#body h2 { font-size: 110%; }

#body p {
    padding: 0ex;
    margin: 1.5ex 0em;
    font-family: "Serif" serif;
}
#body li {
    font-family: "Serif" serif;
}

#body .center { text-align: center; }
