<div class="entry<%= css_class.blank? ? '' : ' ' + css_class %>">
  <% if show_handle %>
    <a class="handle">&equiv;</a>
  <% end %>
  <%= link_to(
        label,
        path,
        :class => 'button') %>
  <%=clear_float %>
</div>
