<% if flash.include? :message and not flash[:message].empty? %>
  <div id="message" class="<%= flash[:message].klass %>">
    <h1>
      <%= flash[:message].title %>
    </h1>
    <%= flash[:message].text %>
    <h1 class="close">
      <%= link_to(
        'schließen',
        '#',
        :onclick => 'Effect.Fade("message", {duration: 0.3}); return false;',
        :class => 'toolbutton'
      ) %>
    </h1>
  </div>
  <% flash.discard :message %>
<% else %>
  <div id="message" style="display: none;"></div>
<% end %>
