<% if flash.include? :message %>
  <% message = flash[:message] %>
  <div id="message" onmouseover="hideMessage()" class="<%= message[:class] %>">
    <h1>
      <%= message[:title] %>
    </h1>
    <p>
      <%= message[:text] %>
    </p>
  </div>
  <% flash.discard :message %>
<% else %>
  <div id="message" style="display: none;"></div>
<% end %>
