<% if flash.include? :message and not flash[:message].empty? %>
  <div id="message" class="<%= flash[:message].klass %>">
    <h1>
      <%= flash_message_title %>
    </h1>
    <%= render flash[:message].render_options %>
    <h1 class="close">
      <%= link_to(
        'schließen',
        '#',
        :onclick => 'Effect.Fade("message", {duration: 0.3}); return false;',
        :class => 'toolbutton'
      ) %>
    </h1>
  </div>
  <% log_flash_message unless RAILS_ENV == 'production' %>
  <% flash.discard(:message) %>
<% else %>
  <div id="message" style="display: none;"></div>
<% end %>
