%div{:style => 'text-align: right;'}
  %a{:href => root_url, :title => 'Zur LEIKOR-Website'}
    %img{:src => image_url('logo/thumb.png'), :alt => 'LEIKOR-Logo', :width => '159', :height => '31'}
= yield
%p{:style => 'margin-top: 3ex;'}
  Ihr LEIKOR-Team
:maruku
  ---

  Petra Leiers-Kording  
  LEIKOR Direktimporte

  Ferd.-Tönnies-Str. 45  
  23701 Eutin

  Tel.: 04521 - 830 430  
  Fax: 03212 - 830 4300  
  E-Mail: <info@leikor.de>  
  Website: <http://www.leikor.de/>

