<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <div id="logo_container" class="popup">
      <%= image_tag 'logo/thumb.png', :alt => 'LEIKOR-Logo' %>
    </div>
    <div id="body">
      <%= yield %>
    </div>
    <%= render :partial => 'layouts/footer', :locals => {:no_links => true} %>
  </body>
</html>
